@import bourbon/bourbon
$white: #fbf8f0
$light: #3e4046



*
  box-sizing: border-box

body
  font-family: $helvetica
  color: $white
  font-weight: bold
  background-color: $light
  +animation (load 2s)

header
  margin: auto
